@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
$purple: #833ab4;
$dark-purple: #42185e;
$grey: #9998c8;
$white-grey: #c0c0cf;
$black: #242428;

$font-text-describe: 'Arimo', sans-serif;
$font-logo: 'Merienda', cursive;
$font-title-card: 'Francois One', sans-serif;